@using Data
@model Web.ContactUsVM
@{
    if (Model.MobileApp)
        Layout = "~/Pages/Shared/NoNavLayout.cshtml";
    else
    Layout = "~/Pages/Shared/CustomerLayout.cshtml";
}

@using (Html.BeginForm("ContactUsList", "ContactUs", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    <div id="partialview">
        @{
            await Html.RenderPartialAsync("PartialViews/ContactUsList_Partial.cshtml");
        }
    </div>
}
<script>
    highlightcurrentpage('nav_ContactUs');
</script>
