@model InactiveCampusVM
@using Data
@using Web

@{
    if (Model.MobileApp)
        Layout = "~/Pages/Shared/NoNavLayout.cshtml";
    else
        Layout = "~/Pages/Shared/TemplateLayout.cshtml";
}

@using (Html.BeginForm("InactiveCampuses", "InactiveCampus", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    <div id="partialview">
        @{
            await Html.RenderPartialAsync("PartialViews/InactiveCampuses_Partial.cshtml");
        }
    </div>
}

<script>
    highlightcurrentpage('nav_InactiveCampus');
</script>

