@using Data
@using Web
@model Web.TemplateVM

@Html.HiddenFor(m => m.AjaxUpdate)
@Html.HiddenFor(m => m.Param)
@Html.HiddenFor(m => m.Action)
@Html.HiddenFor(m => m.BlockPostBack)

<div id="popupbackground" class="popup-background" style="display:none;">
</div>

<div class="pagetitle">Create New Template </div>
<div class="form-1000 ">
    <div class="white-bg">
        <div class="input-form">
            @{
                await Html.RenderPartialAsync("Sections/TemplateFields.cshtml");
            }
            @if (Model.ShowErrorMsg)
            {
                <div class="buttons">
                    <i class="error-message">This name already exists</i>
                </div>
            }
            </td>
            <div class="buttons">
                <button class="button" id="Valid" onclick="NonAjax('Create')">Create Template</button>
                <button class="button" onclick="NonAjax('')">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    ValidateForm();
</script>
