@{
    Layout = "~/Pages/Shared/NoNavLayout.cshtml";
}
<main class="main">
    <div class="page-banner text-white" style="background-color: var(--ButtonBackgroundColor)">
        <div class="container">
            <div class="page-title">
                <p data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">LeadCurrent</p>
                <h2 data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">Your Privacy is Our Priority</h2>

            </div>
        </div>
    </div>
    <div class="sec-workflow-experience sec-gap" data-aos="fade-up" data-aos-duration="1500" data-aos-once="true">
        <div class="container">
            <div class="row align-items-center mb-4 mb-lg-5 pb-lg-5">

                <div class="col-lg-12">
                    <div class="card-content">
                        <h2>Privacy Policy</h2>
                        <p>
                            Protecting your private information is our priority. This Statement of Privacy applies to Leadcurrent, and Leadcurrent and governs data collection and usage. For the purposes of this Privacy Policy, unless otherwise noted, all references to LeadCurrent include https://lcadmin.com. 
                        </p>
                        <h2>Collection of your Personal Information</h2>
                        <p>
                            In order to better provide you with products and services offered, LeadCurrent may collect personally identifiable information, such as your:
                        </p>
                        <ul class="d-flex flex-column list-style-features m-3">
                            <li><i class="bi bi-check2-circle"></i>First and Last Name</li>
                            <li><i class="bi bi-check2-circle"></i>Company Name</li>
                            <li><i class="bi bi-check2-circle"></i>E-mail Address</li>
                            <li><i class="bi bi-check2-circle"></i>Phone Number</li>
                        </ul>
                        <p>
                            If you purchase LeadCurrent's products and services, we collect billing and credit card information. This information is used to complete the purchase transaction.
                        </p>
                        <p>
                            We do not collect any personal information about you unless you voluntarily provide it to us. However, you may be required to provide certain personal information to us when you elect to use certain products or services. These may include: (a) registering for an account; (b) entering a sweepstakes or contest sponsored by us or one of our partners; (c) signing up for special offers from selected third parties; (d) sending us an email message; (e) submitting your credit card or other payment information when ordering and purchasing products and services. To wit, we will use your information for, but not limited to, communicating with you in relation to services and/or products you have requested from us. We also may gather additional personal or non-personal information in the future.
                        </p>
                        <h2>Use of your Personal Information </h2>
                        <p>
                            LeadCurrent collects and uses your personal information to operate and deliver the services you have requested.
                        </p>
                        <p>
                            LeadCurrent may also use your personally identifiable information to inform you of other products or services available from Small Business Workspace and its affiliates.
                        </p>
                        <h2>
                            Sharing Information with Third Parties
                        </h2>
                        <p>
                            LeadCurrent does not sell, rent or lease its customer lists to third parties.
                        </p>
                        <p>
                            LeadCurrent may share data with trusted partners to help perform statistical analysis, send you email or postal mail, provide customer support, or arrange for deliveries. All such third parties are prohibited from using your personal information except to provide these services to Small Business Workspace, and they are required to maintain the confidentiality of your information.
                        </p>
                        <p>
                            LeadCurrent may disclose your personal information, without notice, if required to do so by law or in the good faith belief that such action is necessary to: (a) conform to the edicts of the law or comply with legal process served on Small Business Workspace or the site; (b) protect and defend the rights or property of Small Business Workspace; and/or (c) act under exigent circumstances to protect the personal safety of users of Small Business Workspace, or the public.
                        </p>
                        <h2>
                            Right to Deletion
                        </h2>
                        <p>
                            Subject to certain exceptions set out below, on receipt of a verifiable request from you, we will:
                        </p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i>Delete your personal information from our records</li>
                            <li><i class="bi bi-check2-circle"></i>Direct any service providers to delete your personal information from their records</li>
                        </ul>

                        <p>
                            Please note that we may not be able to comply with requests to delete your personal information if it is necessary to:
                        </p>
                        <ul class="d-flex flex-column list-style-features">
                            <li><i class="bi bi-check2-circle"></i>Complete the transaction for which the personal information was collected, fulfill the terms of a written warranty or product recall conducted in accordance with federal law, provide a good or service requested by you, or reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform a contract between you and us</li>
                            <li><i class="bi bi-check2-circle"></i>Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity; or prosecute those responsible for that activity</li>
                            <li><i class="bi bi-check2-circle"></i>Debug to identify and repair errors that impair existing intended functionality</li>
                            <li><i class="bi bi-check2-circle"></i>Exercise free speech, ensure the right of another consumer to exercise his or her right of free speech, or exercise another right provided for by law</li>
                            <li><i class="bi bi-check2-circle"></i>Comply with the California Electronic Communications Privacy Act</li>
                            <li><i class="bi bi-check2-circle"></i>Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when our deletion of the information is likely to render impossible or seriously impair the achievement of such research, provided we have obtained your informed consent</li>
                            <li><i class="bi bi-check2-circle"></i>Enable solely internal uses that are reasonably aligned with your expectations based on your relationship with us</li>
                            <li><i class="bi bi-check2-circle"></i>Comply with an existing legal obligation; or</li>
                            <li><i class="bi bi-check2-circle"></i>Otherwise use your personal information, internally, in a lawful manner that is compatible with the context in which you provided the information</li>
                        </ul>
                        <h2>
                        Children Under Thirteen
                        </h2>
                        <p>
                            LeadCurrent does not knowingly collect personally identifiable information from children under the age of thirteen. If you are under the age of thirteen, you must ask your parent or guardian for permission to use this application.
                        </p>

                        <h2>E-mail Communications</h2>
                        <p>
                            From time to time, LeadCurrent may contact you via email for the purpose of providing announcements, promotional offers, alerts, confirmations, surveys, and/or other general communication.
                        </p>
                        <p>
                            If you would like to stop receiving marketing or promotional communications via email from LeadCurrent, you may opt out of such communications by clicking the opt-out link in the email.
                        </p>
                        <h2>
                            External Data Storage Sites
                        </h2>
                        <p>
                            All data in LeadCurrent is stored in secured Microsoft Azure storage and is unaccessable to anyone other than authorized Small Business Workspace support staff.
                        </p>
                        <h2>
                        Changes to this Statement
                        </h2>
                        <p>
                            LeadCurrent reserves the right to change this Privacy Policy from time to time. We will notify you about significant changes in the way we treat personal information by sending a notice to the primary email address specified in your account, by placing a prominent notice on our application, and/or by updating any privacy information. Your continued use of the application and/or Services available after such modifications will constitute your: (a) acknowledgment of the modified Privacy Policy; and (b) agreement to abide and be bound by that Policy.
                        </p>
                        <h2>
                        Contact Information
                        </h2>
                        <p>
                            LeadCurrent welcomes your questions or comments regarding this Statement of Privacy. If you believe that LeadCurrent has not adhered to this Statement, please contact Small Business Workspace at:
                        </p>
                        <p>
                            Email Address: support@leadcurrent.com
                        </p>

                    </div>
                </div>

            </div>
        </div>
</main>
