@using Data
@model Web.Template2VM
@{
    if (Model.MobileApp)
        Layout = "~/Pages/Shared/NoNavLayout.cshtml";
    else
    Layout = "~/Pages/Shared/TemplateLayout.cshtml";
}

@using (Html.BeginForm("TemplateList", "TemplateInlineEdit", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    <div id="partialview">
        @{await Html.RenderPartialAsync("PartialViews/TemplateList_Partial.cshtml");}
    </div>
}
<script>
    highlightcurrentpage('nav_TemplateInlineEdit');
</script>