@using Data
@using Web
@model VendorDashboardVM
@{
    if (Model.MobileApp)
        Layout = "~/Pages/Shared/NoNavLayout.cshtml";
    else
        Layout = "~/Pages/Shared/TemplateLayout.cshtml";
}
@using (Html.BeginForm("VendorDashboardList", "VendorDashboard", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
    <div id="partialview">
        @{
            await Html.RenderPartialAsync("PartialViews/VendorDashboardList_Partial.cshtml");
        }
    </div>
}
<script>
    highlightcurrentpage('nav_VendorDashboard');
</script>