@model Web.UserVM

@{
    Layout = "~/Pages/Shared/NoNavLayout.cshtml";
}

@{
    ViewData["Title"] = "Change Password";
}

<div class="pagetitle">Change Password</div>
<div class="form-450">
    <div class="white-bg mb-20">
        <div class="input-form">
            @using (Html.BeginForm("ChangePassword", "Account"))
            {
                @Html.HiddenFor(model => model.Id)
                <div>
                    <table>
                        <tr>
                            <td class="formlabel">
                                UserName:
                            </td>
                            <td>
                                @Html.DisplayFor(m => m.UserName)
                            </td>
                        </tr>
                        <tr>
                            <td class="formlabel">
                                Password:
                            </td>
                            <td class="blacktext">
                                @Html.EditorFor(m => m.Password, new { htmlattributes = new { @class = "formtext" } })
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr>
                            <td class="formlabel">
                                Confirm Password:
                            </td>
                            <td class="blacktext">
                                @Html.EditorFor(m => m.ConfirmPassword, new { htmlattributes = new { @class = "formtext" } })
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="buttons">
                    <button class="button" value="Change Password" name="ChangePassword">Change Password</button>
                    <button class="filterbutton">Cancel</button>
                </div>
            }
        </div>
    </div>
</div>