@model Web.UserVM

@{
    Layout = "~/Pages/Shared/NoNavLayout.cshtml";
}

<link rel="stylesheet" href="~/css/styles.css" />
<link rel="stylesheet" href="~/css/colors.css" />

<script>

    function PasswordPhone1() {
        document.getElementById('Phone1').value = document.getElementById('Phone1').value.replace(/[^\d]/, '');
        if (document.getElementById('Phone1').value.length == 3) {
            document.getElementById('Phone2').focus();
        }
    }
    function PasswordPhone2() {
        document.getElementById('Phone2').value = document.getElementById('Phone2').value.replace(/[^\d]/, '');
        if (document.getElementById('Phone2').value.length == 3) {
            document.getElementById('Phone3').focus();
        }
    }
    function PasswordPhone3() {
        document.getElementById('Phone3').value = document.getElementById('Phone3').value.replace(/[^\d]/, '');
    }

    function validateEmail() {

        if (document.getElementById('Email').value != '') {
            document.getElementById('SendPassword').style.display = "";
        }
        else {
            document.getElementById('SendPassword').style.display = "none";
        }
    }
</script>

<div class="pagetitle">Reset Password</div>
<div class="form-800" id="form">
    <div class="white-bg">
        <div class="input-form">
            @using (Html.BeginForm("ResetPassword", "Account"))
            {
                @Html.HiddenFor(model => model.Id)
                <div>
                    @if (Model.PasswordSentViaEmail)
                    {
                        <div style="text-align:center">
                            <div class="green"><i>Your username and a temporary password has been sent to you in a email</i></div>

                            <button class="button-white" value="GoBack" name="GoBack">Go Back</button>
                        </div>
                    }
                    else
                    {
                        <div>
                            <table>
                                <tr>
                                    <td>
                                        <div class="formlabel">
                                            Enter Email to Reset your Password:
                                            <span id="Email_Invalid" class="required">*</span>
                                        </div>
                                        <div>
                                            <span>
                                                @Html.EditorFor(m => m.Email, new { htmlattributes = new { onkeyup = "validateEmail();" } })
                                            </span>
                                        </div>
                                    </td>

                                </tr>
                            </table>
                            @if (Model.NoMatchEmail)
                            {
                                <div style="color:red; padding-top:10px; padding-bottom:10px;"><i>No login contains the entered email</i></div>
                            }
                            <div style="text-align:center;">
                                <button class="button" id="SendPassword" value="Reset Password" name="ResetPassword">Reset Password</button>
                                <button class="filterbutton">Go Back</button>
                            </div>
                        </div>

                        <script>
                            validateEmail();
                        </script>
                    }
                </div>

            }

        </div>
    </div>
</div>