@using Data
@model Web.TemplateWithTabsVM
@{
    if (Model.MobileApp)
        Layout = "~/Pages/Shared/NoNavLayout.cshtml";
    else
    Layout = "~/Pages/Shared/TemplateLayout.cshtml";
}

@using (Html.BeginForm("Tab2", "TemplateWithTabs", FormMethod.Post, new { id = "form", enctype = "multipart/form-data" }))
{
        <div id="partialview">
        @{
            await Html.RenderPartialAsync("PartialViews/Tab2_Partial.cshtml");
        }
        </div>
}

<script>
   highlightcurrentpage('nav_TemplateWithTabs');
</script>